<script>
import Vue from 'vue';

export default Vue.extend({
  name: 'KubeconSchedule',
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
});
</script>

<template>
  <SlpContainer class="slp-my-96">
    <SlpRow>
      <SlpColumn :cols="8" class="slp-mb-65">
        <img
          src="/nuxt-images/icons/kubecon/bulb-bolt-black.svg"
          style="width: 32px"
        />
        <SlpTypography variant="heading2-bold" tag="h2" class="slp-pb-24">
          {{ data.title }}
        </SlpTypography>
        <SlpTypography variant="heading5-bold" tag="p" class="slp-pb-24">
          {{ data.description }}
        </SlpTypography>
        <SlpButton
          v-if="data.call_to_action"
          :href="data.call_to_action.button_link"
          variant="primary"
          class="slp-mb-64"
        >
          {{ data.call_to_action.button_text }}
        </SlpButton>
      </SlpColumn>
    </SlpRow>
    <div class="kubecon-schedule slp-mt-64">
      <div v-for="(item, index) in data.schedule_list" :key="index">
        <SlpTypography variant="heading5-bold" tag="p" class="slp-pb-24">
          <img src="/nuxt-images/icons/kubecon/calendar.svg" />
          {{ item.date }}
        </SlpTypography>
        <div
          v-for="(event, index) in item.events"
          :key="index"
          class="slp-p-16"
          :class="
            index % 2 === 0 ? 'kubecon-schedule__even' : 'kubecon-schedule__odd'
          "
        >
          <SlpTypography variant="body2-bold">{{
            event.speaker
          }}</SlpTypography>
          <SlpTypography variant="body2" class="slp-pl-8">{{
            event.title
          }}</SlpTypography>
        </div>
      </div>
    </div>
  </SlpContainer>
</template>

<style lang="scss" scoped>
.kubecon-schedule {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: $spacing-32;

  @media screen and (max-width: $breakpoint-sm) {
    grid-template-columns: 1fr;
  }

  &__odd {
    background: #eee7fd;
  }

  &__even {
    background: #f6f3fe;
  }
}
</style>
