<script>
import Vue from 'vue';

export default Vue.extend({
  name: 'KubeconConduct',
  props: {
    data: {
      type: String,
      required: true,
      default: null,
    },
  },
});
</script>

<template>
  <div class="kubecon-conduct">
    <SlpContainer style="color: #f6f3fe">
      <SlpRow>
        <SlpColumn :cols="11">
          <SlpTypography variant="heading2-bold" tag="h3" class="slp-mb-32">
            Code of conduct
          </SlpTypography>
          <SlpTypography variant="body1" tag="p" v-html="$md.render(data)" />
        </SlpColumn>
      </SlpRow>
    </SlpContainer>
  </div>
</template>

<style lang="scss" scoped>
.kubecon-conduct {
  background: #171321;
  padding: $spacing-96 0;
}
</style>
